body, html{
    width: 100%;
    height: 100%;
    background-color:darkgoldenrod;
    padding:0;
    margin:0;
    font-family: 'Courier New', Courier, monospace;
}


/* *START OF STYLING FOR APPLICATION HEADING */
.title{
    width: 90%;
    text-align: center;
    margin:auto;
}
.title h1{
    color:green;
}

/* *START OF INPUT FORM FOR TIMERS */

.inputs{
    display:flex;
    width:90%;
    justify-content: space-around;
    margin:auto;
    padding-bottom: 20px;
    text-align: center;
    background-color: slategrey;
    border: solid blue;
}
.input-container{
    display:flex;
    flex-direction: column;
}
.title-input{
    width:40%;
}
.type-input{
    width:30%;
}
.add{
    justify-content: end;
}
.timer-input input, .timer-input select{
    padding: 12px 20px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
}
.add img{
    align-items: end;
    width: 50%;
}
.button, .add{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
    outline: inherit;
}

/* *START OF STYLING FOR LIST OF ACTIVE TIMERS */

.timer-list{
    width:90%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    display: flex;
    text-align: center;
    flex-direction: row;
}
.timer-title{
    width: 35%;
}
.timer-type, .timer-count{
    width: 13%;
}
.button{
    width: 3%;
}
.button img{
    width: 80%;
    
}
